.blog-{
    display: flex;
    flex-direction: column;
    flex: .7;
}


.chat__message {
    position: relative;
    font-size: 17px;
    padding: 23px;
    width: fit-content;
    border-radius: 10px;
    background-color: rgb(240, 227, 203);
    margin-bottom : 30px;
    
    
}

.chat__timestamp{
margin-left: 10px;
font-size: xx-small;

}


.chat__name {
    position: absolute;
    top: -20px;
    font-size: large;
    font-weight: 900;
    
    
}

.chat__receiver{
    margin-left: auto;
    background-color: rgb(104, 173, 238);
}