.chat{
    display: flex;
    flex-direction: column;
    flex: .7;
}

.chat__header{
background-color:rgb(213, 230, 243) ;

padding: 20px;
display: flex;
align-items: center;
border-bottom: 1px solid rgb(7, 99, 160);
box-shadow: 4px 1px 10px 4px rgb(2, 43, 88);

}


.chat__headerInfo{
    flex: 1;
    padding-left: 20px;
    
    
    }

.chat__headerInfo > h3{
    margin-bottom: 3px;
    font-weight: 2000;
    color: rgb(53, 63, 71);
        
        
    }
    



    .chat__headerInfo > p{
        color: rgb(37, 49, 59);
            
            
        }
        

.chat__body{
    flex: 1;
    background-image : url("https://images.unsplash.com/photo-1512389055488-8d82cb26ba6c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max");
    background-repeat: repeat;
    background-position: center;
    padding: 32px;
    overflow: scroll;
    
}

.chat__message {
    position: relative;
    font-size: 12px;
    padding: 23px;
    width: fit-content;
    border-radius: 10px;
    background-color: rgb(240, 227, 203);
    margin-bottom : 30px;
    
    
}

.chat__timestamp{
margin-left: 10px;
font-size: x-small;

}


.chat__name {
    position: absolute;
    top: -20px;
    font-size: 12px;
    font-weight: 200;
    
    
}

.chat__receiver{
    margin-left: auto;
    background-color: rgb(104, 173, 238);
}

.chat__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 18px;
    border-top: 1px solid gray;
    box-shadow : 3px 1px 4px 2px rgb(2, 43, 88);
    background-color:rgb(213, 230, 243) 
    
}

.chat__footer > form{
    flex: 1;
    display: flex;
    padding: 5px;
}

.chat__footer > form > input{
    flex: 1;
    outline-width:0;
    border-radius: 30px;
    padding: 10px;
    border: none;
}

.chat__footer > form > button{
    flex: 0;
    display: flex;
    padding: 10px;
    border: none;
    background-color:rgb(213, 230, 243)
}

.chat__footer > .MuiSvgIcon-root{
    
    padding: 10px;
    color: rgb(95, 95, 95);
}